<div class="row">
    <div class="col-lg-12">
    {{#if success }}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}
    {{#if error }}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if message }}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    </div>  
</div>