<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="navbar-brand">Chat App</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/" style="text-decoration:none">Main</a>
        <a class="p-2 text-dark" href="/group" style="text-decoration:none">Group</a>
        <a class="p-2 text-dark" href="/Support" style="text-decoration:none">Support</a>
        <a class="p-2 text-dark" href="/profile" style="text-decoration:none">Profile</a>
      </nav>
      {{#if user }}
      <a class="ml-1 btn btn-outline-secondary" href="/logout">Log Out</a>
      {{else}}
      <a class="btn btn-outline-primary" href="/signup">Sign Up</a>
      <a class="ml-1 btn btn-outline-warning" href="/signin">Sign In</a>
      {{/if}}
    </div>