<div class="container">
    <div class="heading text-center">
      <h1>NAME</h1>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6">

        {{!-- Finish up form action --}}
        <form action="" method="POST">
          <div class="form-group">
         <label for="topic" style="font-size:80%">Your Topic</label>
        <input type="text" name="topic" placeholder="Create your own topic" class="form-control">
        <label for="category" style="font-size:80%">Select Your category</label>
        <select class="form-control" name="category">
          <option>Default Category</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        </div>
        <div class="form-group">
          <label for="category" style="font-size:80%">Description</label>
          <textarea name="description" class="form-control" rows="14" placeholder="Write description..."></textarea>
        </div>
        <div class="text-center">
          <button class="btn btn-primary">Create Your Own Topic</button>
        </div>
        </form>
      </div>
      {{!-- ====================================================================== --}}
      <div class="col-lg-6">
        <div class="card">
        <div class="card-header">
          Hot Issues
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>
          <li class="list-group-item">Some item</li>  
        </ul>
      </div>
    </div>
    </div>
</div>